@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

* {
  box-sizing: border-box;
}
.ogoStyle::after {
  content: "";
  position: absolute;
  top: -9px;
  left: -20px;
  height: 25px;
  width: 40px;
  z-index: -10;
  border-bottom-left-radius: 50px;
  /* border-bottom-right-radius: 2px; */
  background-color: #354150;
}
.ogoStyle::before {
  content: "";
  position: absolute;
  top: -9px;
  right: -20px;
  height: 25px;
  width: 40px;
  z-index: -10;
  border-bottom-right-radius: 50px;
  /* border-bottom-right-radius: 2px; */
  background-color: #354150;
}

.scroll::-webkit-scrollbar {
  display: none;
}
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
